.product{
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.product-img{
    margin-right: 5px;;
}
.product-name{
    font-weight: 400;
    color: blue;
}